--find-links https://wheel-index.linuxserver.io/ubuntu/
Pillow==9.5.0
streamlit==1.22.0
opencv-python-headless==4.7.0.72
ultralytics==8.0.124
numpy==1.24.3
requests==2.31.0
setuptools==66.1.1
playsound
